:root {
  /*=====================COLOR=VARIABLES====================*/
  --bg-primary: #1e1e1e;
  --bg-secodary: #1b2035;
  --color: #fff;
  --color-button: #42a5fe;

  /*=====================FONTS=VARIABLES====================*/
  --fs--400: 1rem;

  /*=====================CONTAINER=VARIABLES====================*/

  --lg-container-width: 84%;
  --md-container-width: 90%;
  --sm-container-width: 94%;
}

/*=====================GENERAL=RESET====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-primary);
}

section {
  padding: 2rem 0;
}

.container {
  width: var(--lg-container-width);
  margin: 0 auto;
}

.search {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem;
}

.search-input {
  flex: 1;
  padding: 2rem 0.5rem;
  height: 100%;
  outline: 0;
  border: 0;
  background-color: var(--bg-secodary);
  color: var(--color);
  font-size: var(--fs--400);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

::placeholder {
  color: var(--color);
}

.search button {
  background-color: var(--color-button);
  outline: 0;
  border: 0;
  padding: 2rem 0.4rem;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  font-size: var(--fs--400);
  color: var(--color);
}

.btn-show {
  background-color: var(--color-button);
  text-align: center;
  outline: 0;
  display: block;
  border: 0;
  margin: 0 10rem;
  padding: 1rem 0.4rem;
  border-radius: 1rem;
  color: var(--color);
  cursor: pointer;
}
